
body{
    background: url("images/Header-Background.jpg") ;
    background-size: auto;
    padding-left: 1%;
    color:white;
    overflow-x:inherit;
}
.form{
    color:white;
}

.col-md-7{
    text-align: right;
    padding-right: 0px;

}
.col-md-7.col-xm-12{
    text-align: center;
}
.col-md-5{
    text-align: left;
    padding-left: 5px;
    position: relative;
}
.col-xm-6{
    text-align: center;
}

.col-md-6.col-xm-3.left{
    text-align: center;
}
table{
	margin: 5px auto;
}
td{
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
#header{
    height:200px;
    padding-left: 21%; 
}
input,textarea{
	background:rgba(240,240,240,0.6);
	margin: 5px 0px 5px 0px auto;
	outline: none;
	font-size:17px;
}
textarea{
    padding-left: 0px;
    margin-left: 0px;
}

.box{
    margin-left: 5%;
    padding-top: 250px;
    text-align: center;
}
.field-container{
    position: relative;
    padding-left: 30%;
    max-width: 900px;
}

.subbutton {
    padding: 15px 53px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    width:170px;
    border: none;
    border-radius: 15px;
  box-shadow: 0 1px #999;
}

.subbutton:hover {background-color: #3e8e41}

.subbutton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
legend{
    border-bottom: none;
    padding-left: 30%;
}

#back{
	position: absolute;
	top:100px;
	left:325px;
	
}
td{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight:100;
}
.logo{
    position: relative;
    padding-left: 30px;
    padding-top: 10px;
    height: 100px;
    width:100px;
}

.header-text{
    font-size:50px;
    padding-top: 30px;
    text-align: right;
    font-family:monospace;
    color: bisque;

}
.nav-tabs {
    border-bottom: 0px solid #ddd;
}
.nav-tabs li a{
    color: white;
    font-family: monospace;
}
.heading{
    position: relative;
    color: white;
    font-size: 20px;
    padding-left:30px; 
    font-family: monospace;
}
.panel{
    padding-left: 18%;
    position: relative;
    height: 43px;
    background:none;
}

.panel li{
    font-size: 30px;
}
.row.table{
    margin-top: 300px;
    position: relative;
    padding-left: auto;
    width: 80%;
}
.view_table{
   
    max-width: 500px;
    padding-top: 0px;
    width: 50%;
    
}
.table-item{
    color: white;
    text-align: center;
    font-family: serif;
}
.table-head{
    color:red;
    text-align: center;
    text-decoration: underline;
    font-size: 1.2em;
}
.success{
    position: relative;
    text-align: center;
    width:20%;
    height: 20%;
}
.input-value{
    font-size: 5px;
    font-family: monospace;
}


